@model ML.Disco
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LLENA LOS CAMPOS</h2>
<hr />

@using (Html.BeginForm("Form", "Disco", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdDisco)

    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Titulo)
            @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Duracion)
            @Html.TextBoxFor(model => model.Duracion, new { @class = "form-control", @Type ="time" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Año)
            @Html.TextBoxFor(model => model.Año, new { @class = "form-control", @Type = "date" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Ventas)
            @Html.TextBoxFor(model => model.Ventas, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Disponibilidad)
            @Html.TextBoxFor(model => model.Disponibilidad, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Artista)
            @Html.DropDownListFor(model => model.Artista.IdArtista, new SelectList(Model.Artista.Artistas,"IdArtista", "NombreArtistico"), "SELECCIONA UNA OPCION", new {@class="form-control"});
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Genero)
            @Html.DropDownListFor(model => model.Genero.IdGenero, new SelectList(Model.Genero.Generos,"IdGenero", "Nombre"), "SELECCIONA OPCION", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Distribuidora)
            @Html.DropDownListFor(model => model.Distribuidora.IdDistribuidora, new SelectList(Model.Distribuidora.Distribuidoras,"IdDistribuidora", "Nombre"), "SELECCIONA OPCION", new { @class = "form-control" })
        </div>
    </div>

    <button class="btn btn-success" type="submit"> HECHO </button>
    <a class="btn btn-warning" href="@Url.Action("GetAll", "Disco")">VOLVER</a>
}